<include file="Public/min-header"/>
		<div style="width:100%;height: auto">
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_01.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_02.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_03.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_04.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_05.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_06.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_07.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_08.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_09.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_010.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_011.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_012.gif">
			</div>
		</div>

</html>