<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <nav class="navbar navbar-default">
                            <div class="collapse navbar-collapse">
                                <div class="navbar-form row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-9">
                                        <span class="warning" hidden>温馨提示：顶级分类（一级大类）设为推荐时才会在首页楼层中显示</span>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{:U('Coupon/category_edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>新增二级优惠券名称</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="list-table" class="table table-bordered dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th valign="middle">一级优惠券类别名称</th>
                                        <th valign="middle">二级优惠券类别名称</th>
                                        <th valign="middle">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="cat_list" item="vo">
                                        <tr role="row" align="center">
                                            <td align="left" style="padding-left:1em">
                                                    <span class="glyphicon glyphicon-minus btn-warning" style="padding:2px; font-size:12px;" data-id="{$vo.id}" aria-hidden="false" onclick="rowClicked(this)" ></span>&nbsp;
                                                <span>{$vo.name}</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <foreach name="vo.child" item="v" key="k">
                                            <tr role="row" align="center" class="pid-{$vo.id}">
                                                <td align="left" style="padding-left:1em">
                                                </td>
                                                <td align="left" style="padding-left:1em">
                                                    <span>{$v.name}</span>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" href="{:U('Coupon/category_edit',array('id'=>$v['id']))}"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    // 展开收缩
    function  rowClicked(obj)
    {
        if($(obj).hasClass("glyphicon-minus")){
            $(".pid-"+obj.getAttribute("data-id")).hide("normal");
            $(obj).removeClass("glyphicon-minus btn-info").addClass("glyphicon-plus btn-warning");
        }else{
            $(".pid-"+obj.getAttribute("data-id")).show("normal");
            $(obj).removeClass("glyphicon-plus btn-warning").addClass("glyphicon-minus btn-info");
        }
    }

</script>
</body>
</html>
