
                    <form method="post" id="SecondBuy" action="{:U('Admin/SecondBuy/deleteBatch')}" >
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" style="font-size:12px;">
                                <thead>
                                <tr>
                                    <td class="text-left" style="width:4%;"><input type="checkbox" onclick="$('input[name*=\'id\']').prop('checked', this.checked);"> 全选</td>
                                    <td class="text-center">
                                        <a href="javascript:sort('goods_name');">商品名称</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="">商户名称</a>
                                    </td>      
                                    <!--<td class="text-center">-->
                                        <!--<a href="">货号</a>-->
                                    <!--</td>-->
                                    <td class="text-center">
                                        <a href="javascript:sort('');">分类</a>
                                    </td>
                                    <td class="text-center">
                                    <a href="javascript:sort('');">市场价</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('');">团购价</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('on_time');">开始时间</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('on_time');">结束时间</a>
                                    </td>
                                    <td class="text-center">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="goods" id="list">
                                    <tr>
                                        <!--<td class="text-center">-->
                                        	<!--<input type="checkbox" name="selected[]" value="6">-->
                                        	<!--<input type="hidden" name="shipping_code[]" value="flat.flat">-->
                                        <!--</td>-->

                                        <td class="text-left">
                                            <input type="checkbox" name="id[]" value="{$list.id}"/> {$list.id}
                                        </td>
                                        <td class="text-lifter">{$list.goods_name}</td>
                                        <td class="text-center">{$list.store_name}</td>
                                        <!--<td class="text-center">{$list.order_amount}</td>-->
                                        <!--<td class="text-center">{$order_status[$list[order_status]]}<if condition="$list['is_cod'] eq '1'"><span style="color: red">(货到付款)</span></if></td>-->
                                        <!--<td class="text-center">{$pay_status[$list[pay_status]]}</td>-->
                                        <!--<td class="text-center">{$shipping_status[$list[shipping_status]]}</td>-->
                                        <!--<td class="text-center">{$list.goods_sn}</td>-->
                                        <td class="text-center">{$list.cat_name}</td>
                                        <td class="text-center">{$list.shop_price}</td>
                                        <td class="text-center">{$list.prom_price}</td>
                                        <td class="text-center">{$list.start_time}</td>
                                        <td class="text-center">{$list.end_time}</td>
                                        <td class="text-center">
                                            <!--<a href="{:U('Admin/Secondskill/detail',array('id'=>$list['goods_id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a>-->
                                            <!--<a href="{:U('Admin/Secondskill/addEditGoods',array('id'=>$list['goods_id']))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="查看详情"><i class="fa fa-pencil"></i></a>-->
                                            <a href="javascript:void(0);" onclick="del('{$list.id}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <!--<td class="text-right"><input class="btn btn-primary" type="button"  onclick="ajax_submit_form('Secondskill','{:U('Admin/Secondskill/prom_goods_save2')}');" value="保存"></td></tr>-->
                                    <td class="text-right" colspan="9"><input class="btn btn-default" type="reset" value="重置"> &nbsp;&nbsp;&nbsp;
                                        <input class="btn btn-primary" type="button" onclick="delsubmit()" value="批量删除">
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>