<include file="Public/min-header" />
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__/Public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.all.js"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加商户限时秒杀商品  </h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="Secondskill" action="{:U('Admin/SecondBuy/save')}">
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>

                                <tr>
                                    <td>开始时间：</td>
                                    <td>
	                                    <div class="form-group" >
		                                    <select name="start_date" id="date" class="form-control">
			                                    <option value="">秒杀日期</option>
                                                <foreach name="startDates" item="v" key="k" >
                                                    <option value="{$v}">{$v}</option>
                                                </foreach>
		                                    </select>
	                                    </div>
	                                    <div class="form-group">
		                                    <select name="start_time" id="time" class="form-control">
			                                    <option value="">秒杀时间</option>
			                                    <foreach name="startTimes" item="v" key="k" >
				                                    <option value="{$v}">{$v}</option>
			                                    </foreach>
		                                    </select>
	                                    </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>选择商品:</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-xs-2">                                        
	                                            <a class="btn btn-primary" href="javascript:void(0);" onclick="selectGoods()" ><i class="fa fa-search"></i>添加商品</a>
                                            </div>                                                            
                                            <div class="col-xs-2">
                                                <span id="err_goods" style="color:#F00; display:none;">请添加下单商品</span>
                                            </div>                                            
                                        </div>                                    
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"> 
                                       <div class="form-group">
                                       		<table class="table table-bordered">
                                       			<thead>
                                       			<tr>
                                       				<th style="display:none">选择</th>
									                <th class="text-left">商品名称</th>
			                                        <th class="text-left">商户名称</th>
									                <th class="text-left">价格</th>         
									                <th class="text-left">库存</th>
                                                    <th class="text-left" style="width:5%;">活动数量</th>
									                <th class="text-left">操作</th>
									            </tr>
									            </thead>
									            <tbody id="goods_list">
									            <foreach name="prom_goods" item="vo">
									            	<tr>
									            		<td style="display:none">
                                                            <input type="checkbox" name="goods_id[]" checked="checked" value="{$vo.goods_id}"/>
                                                            <input type="hidden" name="goods_id"  value="{$vo.goods_id}"/>
                                                        </td>
									                	<td class="text-left">{$vo.goods_name}</td>
											            <td class="text-left">{$vo.store_name}</td>
											            <td class="text-left">{$vo.shop_price}</td>
									                	<td class="text-left">{$vo.store_count}</td>
                                                        <td class="text-left" style="width:5%;">
                                                            <input type="text" name="quantity" value="" style="width:7%;" />
                                                        </td>
									                	<td class="text-left"><a href="javascript:void(0)" onclick="javascript:$(this).parent().parent().remove();">删除</a></td>
									           		</tr>
									           </foreach>
									           </tbody>
                                       		</table>
                                         </div>                                                                               
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                	<tr>
                                	<td><input class="btn btn-default" type="reset" value="重置">
                                		<input type="hidden" name="id" value="{$info.id}">
                                	</td>
                                	<!--<td class="text-right"><input class="btn btn-primary" type="button"  onclick="ajax_submit_form('Secondskill','{:U('Admin/Secondskill/prom_goods_save2')}');" value="保存"></td></tr>-->
	                                <td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                           </table>
                        </div>                           
                    </div>              
			      </form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>



function adsubmit(){
	var pg = []; 
	//过滤选择重复商品
	$('input[name*="goods_id"]').each(function(i,o){
		pg.push($(o).val());
	});
	if(pg.length==0){
		layer.msg('请选择商品');
		return false;
	}

	var tag = true;
    // 检查参加活动商品数量
    $('input[name="quantity"]').each(function(i,o){
        if ($(o).val() <= 0) {
            layer.msg('请为每个商品指定参与活动数量');
            tag = false;
            return false;
        }
    });

    if (tag) {
        var date = $('#date').val();
        var time = $('#time').val();
        data = '{"goods":['
        $('input[name*="goods_id"]').each(function(i,o){
            var goods_id = $(o).val();
            var quantity = 0;
            $('input[name="quantity"]').each(function(j,k){
                if (i == j) {
                    quantity = $(k).val();
                }
            });
            data += '{"goods_id":'+goods_id+',"quantity":'+quantity+'},';
        });
        data = data.substr(0,data.length-1)
        data += ']}'
        data = JSON.parse(data);
        $('#Secondskill').submit();

        $.ajax({
            url:"{:U('Admin/SecondBuy/save')}",
            type:'POST',
            data:{
                date : date,
                time : time,
                goods : data
            },
            dataType:"json",
            success:function(data){
                if(data.status=1){
                    var num = $(".sun").text();
                    num = (data.msg);
                    $(".sun").text(num);
                }
            }
        });
    }

}


function selectGoods(){
	var goods_id = []; 
	//过滤选择重复商品
	$('input[name*="goods_id"]').each(function(i,o){
		goods_id.push($(o).val());
	});
    var url = '/index.php?m=Admin&c=SecondBuy&a=search_goods&goods_id='+goods_id+'&t='+Math.random();
    layer.open({
        type: 2,
        title: '选择商品',
        shadeClose: true,
        shade: 0.3,
        area: ['70%', '80%'],
        content: url, 
    });
}

function call_back(table_html)
{
	layer.closeAll('iframe');
	$('#goods_list').append(table_html);
}

//$("#prom_type").on("change",function(){
//	  var type = parseInt($("#prom_type").val());
//	  var expression = '';
//	  switch(type){
//	    case 0:{
//	      expression = '<td><b class="red">*</b>折扣：</td> <td> <input name="expression" type="text" class="small"  pattern="int" value=""> <label>% 折扣值(1-100 如果打9折，请输入90)</label> </td>';
//	      break;
//	    }
//	    case 1:{
//	      expression = '<td><b class="red">*</b>立减金额：</td> <td> <input name="expression" type="text" class="small"  pattern="float" value=""> <label>立减金额（元）</label> </td>';
//	      break;
//	    }
//	    case 2:{
//	      expression = '<td><b class="red">*</b>出售金额：</td> <td> <input name="expression" type="text" class="small"  pattern="float" value=""> <label>出售金额（元）</label> </td>';
//	      break;
//	    }
//	    case 3:{
//	      expression = '<td><b class="red">*</b>代金券：</td> <td><select name="expression"><tpshop sql="select * from __PREFIX__coupon where type=0" item="v"><option value="{$v.id}" <if condition="$v[id] eq $info[expression]">selected</if>>{$v.name}</option></tpshop></select></td>';
//	      break;
//	    }
//	    case 4:{
//	      expression = '<td><b class="red">*</b>买M送N：</td> <td> <input name="expression" type="text" class="small"  pattern="\\d+\/\\d+" value=""> <label>买几件送几件（如买3件送1件: 3/1）</label> </td>';
//	      break;
//	    }
//	  }
//	  $("#expression").html(expression);
//});

</script>
</body>
</html>