<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 订单列表</h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                        <form action="" id="search-form2" class="navbar-form form-inline" method="post">
                            <div class="form-group">
                                <label class="control-label" for="input-order-id">订单编号</label>
                                <div class="input-group">
                                    <input type="text" name="order_sn" placeholder="订单编号" value="{$order_sn}" id="input-order-id" class="input-sm" style="width:100px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-date-added">下单日期</label>
                                <div class="input-group">
                                    <input type="text" name="timeRange" value="{$timeRange}" placeholder="下单日期"  id="add_time" class="input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="Open_group" class="input-sm" style="width:150px;">
                                    <option value="">全部</option>
                                    <option value="1" <if condition="$openGroup == 1">selected='selected'</if>>已成团</option>
                                    <option value="2" <if condition="$openGroup == 2">selected='selected'</if>>未成团</option>
                                </select>
                                <input type="hidden" name="order_by" value="order_id">
                                <input type="hidden" name="sort" value="desc">
                                <input type="hidden" value="{$goods_id}" name="goods_id" id="goods_id" >
                            </div>
                            <div class="form-group">
                                <input type="button" id="button-filter search-order" onclick="ajax_get_table('search-form2',1)" class="btn btn-primary" value="筛选" >
                            </div>
                            <button type="button" onclick="allPush();" class="btn btn-default pull-right">未中奖推送</button>
                        </form>
                    </div>
                    <div id="ajax_return">

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function(){
        ajax_get_table('search-form2',1);

        $('#add_time').daterangepicker({
            format:"YYYY/MM/DD",
            singleDatePicker: false,
            showDropdowns: true,
            minDate:'2016/01/01',
            maxDate:'2030/01/01',
            locale : {
                applyLabel : '确定',
                cancelLabel : '取消',
                fromLabel : '起始时间',
                toLabel : '结束时间',
                customRangeLabel : '自定义',
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
                firstDay : 1
            }
        });
    });
    // ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/Admin/AwardOrder/ajaxOrderList?p="+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }
    // 设置订单为中奖操作
    function awardSet(order_id)
    {
        if(!confirm('确定要设置订单为中奖吗?'))
            return false;
        $.ajax({
            url:"/Admin/AwardOrder/orderAward",
            type: 'POST',
            data: {
                order_id: order_id
            },
            success: function(v){
                alert(v);
                location.reload();
            }
        });
        return false;
    }

    // 未中奖订单推送消息
    function allPush()
    {
        if(!confirm('确定要执行操作吗?'))
            return false;
        var dateRange = $('#add_time').val();
        var goods_id = $('#goods_id').val();
        if (dateRange.length <=0) {
            alert('请选取一个时间范围');
            return false;
        }
        $.ajax({
            url:"/Admin/AwardOrder/noAwardOrderPush",
            type: 'POST',
            data: {
                dateRange: dateRange,
                goods_id: goods_id
            },
            success: function(v){
                alert(v);
                location.reload();
            }
        });
        return false;
    }
</script>
</body>
</html>