<include file="Public/min-header"/>
<div class="wrapper">
 <include file="Public/breadcrumb"/>
 <style>#search-form > .form-group{margin-left: 10px;}</style>
   <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="panel panel-default">
          <div class="panel-body ">
              <ul class="nav nav-tabs">
                  <foreach name="group_list" item="vo" key="k">
                      <li <if condition="$k eq 'vr_videoList'">class="active"</if>><a href="javascript:void(0)" data-url="{:U('System/index',array('inc_type'=>$k))}" data-toggle="tab" onclick="goset(this)">{$vo}</a></li>
                  </foreach>
              </ul>
          </div>
        <div class="panel-body">
          <div class="navbar navbar-default">
              <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
                <div class="form-group">
                </div>
                <!--排序规则-->
                <input type="hidden" name="orderby1" value="goods_id" />
                <input type="hidden" name="orderby2" value="desc" />
                <button type="button" onclick="location.href='{:U('Admin/System/vr_video')}'" class="btn btn-primary pull-left"><i class="fa fa-plus"></i>添加VR视频</button>
              </form>
          </div>
          <div id="ajax_return"></div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper --> 
<script>
    $(document).ready(function(){
		// ajax 加载视频列表
        ajax_get_table('search-form2',1);
    });
    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/Admin/System/ajaxvr_videoList?p="+page,//+tab,
            data : $('#'+form).serialize(),// 你的formid
            success: function(data){
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }

        
        // 删除操作
        function del(id)
        {
            if(!confirm('确定要删除吗?'))
                return false;
		$.ajax({
			url:"/Admin/System/video_del/id/"+id,
			success: function(v){	
                                var v =  eval('('+v+')');                                 
                                if(v.hasOwnProperty('status') && (v.status == 1))
                                        ajax_get_table('search-form2',cur_page);                                                      
                                else
                                        layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
			}
		}); 
               return false;
          }

    function adsubmit(){
        /*
         var site_url = $('input[name="site_url"]').val();
         var urlReg = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\w \.-]*)*$/;
         if(!urlReg.exec(site_url))
         {
         alert('网站域名格式必须是 http://www.xxx.com');
         return false;
         }
         */
        $('#handlepost').submit();
    }

    $(document).ready(function(){
        get_province();
    });

    function goset(obj){
        window.location.href = $(obj).attr('data-url');
    }
</script> 
</body>
</html>