<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="wap-font-scale" content="no" />
	<title>幸运大转盘</title>
	<link rel="stylesheet" href="__PUBLIC__/zhuanpan/css/base.css"/>
	<link rel="stylesheet" href="__PUBLIC__/zhuanpan/css/act.css"/>
	<script src="__PUBLIC__/zhuanpan/js/zepto.min.js"></script>
	<script src="__PUBLIC__/zhuanpan/js/fontSize.js"></script>
</head>

<body>
<main class="main">
	<div class="act-container">
		<div class="plate-box">
			<div id="plate" class="plate">
				<div class="fan" id="fan">
					<canvas width="1080" height="1080" id="fan-bg" class="fan-bg"></canvas>
					<div class="joining-group" id="joining-group">
						<volist name="join" id="join">
							<dl class="item" data-info="{$join.name}">
								<dt>
									<img src="{$join.head_pic}">
								</dt>
								<dd>
									<p>{$join.name}</p>
								</dd>
							</dl>
						</volist>
					</div>
				</div>
				<div class="times" id="times">
					<div class="item">11</div>
					<div class="item">10</div>
					<div class="item">9</div>
					<div class="item">8</div>
					<div class="item">7</div>
					<div class="item">6</div>
					<div class="item">5</div>
					<div class="item">4</div>
					<div class="item">3</div>
					<div class="item">2</div>
					<div class="item">1</div>
					<div class="item">0</div>
				</div>
			</div>
			<span class="hand" id="start">&nbsp;</span>
		</div>
		<div class="act-footer">
			<div class="winner-group mt20 tc fs12">
				<div class="heading">
					<img src="__PUBLIC__/zhuanpan/images/heading1.jpg">
				</div>
				<div class="winner-body" id="ranking">
				</div>
			</div>
			<div class="rule-group">
				<div class="heading">
					<img src="__PUBLIC__/zhuanpan/images/heading2.jpg">
				</div>
				<div class="content">
					<p>
						1、活动期间，投资每满200元即可获得一次转盘抽奖机会，越多购买，抽奖机会越多。
					</p>
					<p>
						2、活动期间，投资每满200元即可获得一次转盘抽奖机会，越多购买，抽奖机会越多。投资每满200元即。
					</p>
					<p>
						3、XXXXX活动期间，投资每满200元即可获得一次转盘抽奖机会，越多购买，抽奖机会越多。
					</p>
					<p>
						4、XXXXXXXXXXX活动期间，投资每满200元即可获得一次转盘抽奖机会，越多购买，抽奖机会越多。
					</p>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="hint-dialog winner-dialog" id="winner-dialog">
	<p>恭喜 <em class="winner-name"></em> 中奖啦</p>
</div>



<script src="__PUBLIC__/zhuanpan/js/move.min.js"></script>
<script src="__PUBLIC__/zhuanpan/js/plate.js"></script>
<script src="__PUBLIC__/zhuanpan/js/active.js"></script>

<script type="text/javascript">

	var data ={$free};
	console.log(data);
	//抽奖
	var data2 = {
		"winner_num":4,
		"is_draw": 0,
		"winners":[
			{
				"userid":3,
				"username":"周杰伦",
				"order": 0
			},
			{
				"userid":4,
				"username":"陈奕迅",
				"order": 4
			},
			{
				"userid":5,
				"username":"蔡依林",
				"order": 6
			},
			{
				"userid":6,
				"username":"林俊杰",
				"order": 7
			}
		]
	};
	console.log(data2);
	lottery(data);
</script>
</body>
</html>
