<include file="Public/min-header"/>
		<div style="width:100%;height: auto">
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/1.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/2.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/3.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/4.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/5.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/6.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/7.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/8.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/9.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/10.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/11.gif">
			</div>
			<div class="text-center">
				<img width="1000px" height="500px" src="__PUBLIC__/images/assistant/12.gif">
			</div>
		</div>

</html>