<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	<b>拼趣多平台合作协议</b><b></b>
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	&nbsp;
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
	<b>(V1.0 </b>上线时间<b> 2017 </b>年<b> <span>1 </span></b>月<b> <span>1 </span></b>日<b>)</b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	<b><u>签约须知：</u></b><b><u></u></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	《拼趣多平台合作协议》（以下简称<b>“</b>本协议<b>”</b>）是由拼趣多网站（即 <b>www.pinquduo.cn</b>）、拼趣多 <b>APP</b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	及拼趣多微信商城（以下简称<b>“</b>拼趣多<b>”</b>）的运营方即深圳市前海朵莓网络科技有限公司（以下简称<b>“</b>甲方<b>”</b>）与商家（以下简称<b>“</b>乙方<b>”</b>或<b>“</b>商家<b>”</b>）达成的关于提供和使用拼趣多服务的各项条款、条件和规则。<b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left" style="text-indent:21pt;">
	甲方在此特别提醒乙方认真阅读、充分理解本协议各条款（对于本协议中以红色字体显示的内容，应重点阅读），并请乙方审慎考虑并选择接受或不接受本协议。如果乙方一经选择<b>“</b>我已阅读、同意并接受<b>”</b>选项并点击<b>“</b>同意以上文件并继续<b>”</b>按钮（前述选项及<b>/</b>或按钮的具体表述可能会做适当调整），即表示其已接受本协议，并同意受本协议各项条款的约束。如果乙方不同意本协议中的任何条款，可以不予选择<b>“</b>我已阅读、同意并接受<b>”</b>选项及<b>/</b>或不予点击<b>“</b>同意以上文件并继续<b>”</b>按钮（前述选项及<b>/</b>或按钮的具体表述可能会做适当调整），在此种情况下，乙方未予接受本协议，本协议未生效，乙方将无法使用拼趣多服务。本<b>“</b>签约须知<b>”</b>为本协议正文的组成部分。<b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>1.&nbsp;&nbsp;&nbsp; </b><b>协议内容及生效：</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	1.1&nbsp;&nbsp;&nbsp; 本协议内容包括协议正文及所有甲方已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	部分，与协议正文具有同等法律效力。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	1.2&nbsp;&nbsp;&nbsp; 在适用的法律法规允许的最大限度内，甲方有权根据情况不时地制定、修订、调整及<b>/</b>或变更本协议正文及<b>/</b>或<span></span>
</p>
<p class="MsoNormal" align="left">
	附件，并将提前至少 <b>7</b> 日公示并通知乙方。前述制定、修订、调整及<b>/</b>或变更后的本协议正文及<b>/</b>或附件一经甲方公示并通知乙方后，立即自动生效，成为本协议的一部分；虽有前述约定，本协议生效后，如乙方不同意前述制定、修订、调整及<b>/</b>或变更后的本协议正文及<b>/</b>或附件，可自甲方公示并通知乙方之日起 <b>3</b> 个工作日内以通知方式向甲方提出异议，在此种情况下，本协议将于乙方通知甲方之日起自动终止，且甲方对于该等终止不负有任何违约责任或其他责任，乙方应与甲方协商本协议终止事宜（包括但不限于款项结算事宜，如有<b>)</b>。如乙方未根据前述约定向甲方提出异议，即视为乙方接受前述制定、修订、调整、及<b>/</b>或变更后的本协议正文及<b>/</b>或附件；如乙方登录或继续使用拼趣多相关账户（包括但不限于商家账户，下同），即视为乙方接
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	受前述制定、修订、调整及<b>/</b>或变更后的本协议正文及<b>/</b>或附件。<b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	1.3&nbsp;&nbsp;&nbsp; 商家首次申请入驻拼趣多平台时，商家签署或在线接受本协议后本协议立即生效，但本协议项下
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	的平台服务并不立即开通，商家根据平台要求履行上传相关资质、经甲方审核通过并向商家发出服务开通通知（通知方式包括但不限于手机短信）时，本协议项下的平台服务正式开通。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	1.4&nbsp;&nbsp;&nbsp; 如商家在首次申请入驻拼趣多平台时，未及时签署或在线接受本协议的，其入驻行为视为对甲方
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	已经发布的协议及各类规则的同意，其入驻后首次签署或在线接收本协议视为对协议的重新确认，协议效力将溯至商家入驻之日。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>2.&nbsp;&nbsp;&nbsp; </b><b>合作方式<span></span></b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	2.1&nbsp;&nbsp;&nbsp; 商家在拼趣多设立店铺，并通过拼趣多直接销售商品给消费者。开店成功后，商家可根据甲方系统规则安排产<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	品上线销售。商家应当根据甲方要求提供商品相关素材、提供售前售后服务、提供商品免费包邮服务；同时商家应当能以自身名义为有需求的消费者开具正规的商品发票(跨境保税直供商品和海外直邮商品可以不提供发票)。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	2.2&nbsp;&nbsp;&nbsp; 甲方负责拼趣多平台的日常维护、技术支持，保证平台的正常运作。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	2.3&nbsp;&nbsp;&nbsp; 商家有权决定销售商品的定价，同时甲方有权利根据商品销量、价格竞争力、商家的服务水平等单方决定商<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	品售卖期和展示位置。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	2.4&nbsp;&nbsp;&nbsp; 甲方向商家提供甲方商家后台的管理账户及密码，通过商家后台商家可实现自助提取销售货款等功能。
</p>
<p class="MsoNormal">
	2.5&nbsp;&nbsp;&nbsp; 商家充分理解并确认，甲方暂时不向商家收取平台费用，但甲方保留收取平台费用的权利，具体
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	收费标准将以平台规则形式发布。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	2.6&nbsp;&nbsp;&nbsp; 商家应当向甲方支付销售货款总金额千分之六的微信支付及支付宝支付费用（若甲方增加其他支付方式，则商<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	家同意支付该等其他支付方式所收取的相关支付费用）。若微信支付、支付宝支付
</p>
<p class="MsoNormal" align="left">
	等第三方支付机构调整支付费用的比例，则本条款约定的支付费用比例应当相应调整。商家授权
</p>
<p class="MsoNormal" align="left">
	甲方从商家销售货款中直接扣除相应的支付费用。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>3.&nbsp;&nbsp;&nbsp; </b><b>证明文件提交：<span></span></b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	3.1&nbsp;&nbsp;&nbsp; 证明文件提交：商家欲使用本协议下服务，应当根据甲方要求向甲方或甲方指定合作方提交其在申请服务时应<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	当提供的证明文件或其他相关证明。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	3.2&nbsp;&nbsp;&nbsp; 证明文件变更的通知：协议期内，上述相关证明文件的任何变更商家都应及时通知甲方，如上述
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	证明文件变更后导致商家不再符合甲方招商标准或不再具备履行本协议的情形出现时，甲方有权立即终止本协议。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	3.3&nbsp;&nbsp;&nbsp; 甲方将对商家的证明文件进行不定时的抽查，并有权在甲方招商标准的基础上，要求商家提供更
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	多证明文件，商家应当按甲方要求提供。如商家不能提供，则甲方有权立即终止或中止本协议。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	3.4&nbsp;&nbsp;&nbsp; 责任条款：商家同意为其未及时的通知或更新其证明文件或其他证明信息承担全部责任，商家保
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	证其向甲方提供的全部证明文件真实、准确且不存在超过时效问题（即保证所有证明文件在整个
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	合同履行期间都处于有效期内）。如因上述原因发生纠纷或被相关国家主管机关处罚，商家应当独立承担全部责任，如给甲方（包括其合作伙伴、代理人、职员等）造成损失的，商家同意赔偿其全部损失。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>4.&nbsp;&nbsp;&nbsp; </b><b>商品交付</b><b></b>
</p>
<p class="MsoNormal">
	4.1&nbsp;&nbsp;&nbsp; 商家应当根据甲方发布的拼趣多发货规则及时将商品交付消费者。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	4.2&nbsp;&nbsp;&nbsp; 商家应按甲方要求（如有）对商品进行包装，在包装中附带甲方要求的材料，包括但不限于发货单等，不得夹带<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	任何未经甲方同意的资料、宣传单以及发货单中不得出现任何非甲方的第三方网站或店铺信息等，包装制作费用由商家承担。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	4.3&nbsp;&nbsp;&nbsp; 甲方有权根据拼趣多发货规则，对商家延迟发货行为进行处理。“延迟发货”是指商家在商品详情页中没有明示发<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	货时间，或在消费者成团后实际未能在上述要求时间内完成发货的。若商家延迟发货，甲方有权根据拼趣多平台规则由商家承担责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	4.4&nbsp;&nbsp;&nbsp; 甲方有权根据拼趣多发货规则，对商家虚假发货行为进行处理。虚假发货的定义及相关处理规则详见甲方发布<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	的拼趣多发货规则。若商家虚假发货，甲方有权根据拼趣多平台规则对于商家给予一定的警告处分或者处罚，如严重多次犯该问题的商家，甲方有权利终止本协议。<span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>5.&nbsp;&nbsp;&nbsp; </b><b>货款结算方式</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	5.1&nbsp;&nbsp;&nbsp; 商家根据订单发货后 15 日（海外直邮商品 30 日）后或消费者确认收货后（以较早者为准）<span>48</span>小时内无任<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	何其他纠纷，消费者支付至甲方的货款自动进入商家账户，商家可通过甲方提供的商家后台管理账户及密码实现货款自提。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	5.2&nbsp;&nbsp;&nbsp; 为避免歧义，各方确认，甲方不为商家垫付货款，商家申请提取的货款以甲方实际收到的消费者货款为限。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	5.3&nbsp;&nbsp;&nbsp; 对于商家自甲方平台获取的补贴收入，包括但不限于各类优惠券、代金券、现金抵用券补贴，商家应根据甲方要<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	求向甲方开具合法有效的发票。
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>6.&nbsp;&nbsp;&nbsp; </b><b>保证金</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	6.1&nbsp;&nbsp;&nbsp; 商家应当根据甲方公布及不时修改的《拼趣多保证金规则》向甲方支付保证金。<span></span>
</p>
<p class="MsoNormal">
	6.2&nbsp;&nbsp;&nbsp;&nbsp; 当商家退出拼趣多平台时，保证金会退还给商家，退保证金的流程为： <span></span>
</p>
<p class="MsoNormal" style="margin-left:36.0pt;">
	①商家申请关闭其在拼趣多平台运营的店铺； <span></span>
</p>
<p class="MsoNormal" style="margin-left:36.0pt;">
	②商家下架要关闭的店铺中所有售卖商品；<span>&nbsp; </span>
</p>
<p class="MsoNormal" style="margin-left:36.0pt;">
	③以该店铺最后一个确认收货订单的时间为基准，经过<span>30</span>个<a name="_GoBack"></a>工作日完成退店程序； <span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>7.&nbsp;&nbsp;&nbsp; </b><b>商品质量要求</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.1&nbsp;&nbsp;&nbsp; 商品的质量应符合下列要求：
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)商品不存在危及人身、财产安全的缺陷，符合保障人体健康和人身、财产安全的相关标准；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)具备商品应当具备的使用性能，对商品存在使用性能的瑕疵已作出说明；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)符合在商品或者其包装上注明采用的商品标准，符合以广告、商品说明、实物样品等方式表明的质量状况。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.2&nbsp;&nbsp;&nbsp; 商品或者商品包装上的标识真实，并符合下列要求：
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)限期使用的商品，在显著位置标明生产日期和安全使用期或失效日期；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)商品成分说明或配料表，其中应标明主要营养成分及其含量；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)使用不当容易造成商品本身损坏或者可能危及人身、财产安全的商品，有警示标志；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	4)相关法律法规或行业惯例有关标识的其他适用要求。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.3&nbsp;&nbsp;&nbsp; 商家保证商品不存在以下欺诈行为：
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)在商品中掺杂、掺假、以假充真、以次充好、以不合格商品冒充合格商品；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)销售国家明令淘汰的商品或者失效、变质的商品；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)伪造商品的产地，伪造或者冒用他人的厂名、厂址，伪造或者冒用认证标志、名优标志等质量标志；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	4)商品应当检验、检疫而未检验、检疫或者伪造检验、检疫结果；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	5)商家发现其提供的商品存在严重缺陷，即使正确使用仍然可能对人身、财产安全造成危害的，应当立即告知甲方，并采取防止危害的措施，包括但不限于召回。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.4&nbsp;&nbsp;&nbsp; 商家向消费者提供有关商品或者服务的信息真实，没有引人误解的虚假宣传，没有发布虚假广告、欺骗和误<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	导消费者，使购买商品或者接受服务的消费者的合法权益受到损害的行为。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.5&nbsp;&nbsp;&nbsp; 商家提供的食品符合卫生标准，提供的专供婴幼儿的主辅食品符合营养、卫生标准，提供的食品添加剂、食品容<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	器、包装材料和食品用工具、设备以及洗涤剂、消毒剂符合卫生标准和卫生管理办法规定。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.6&nbsp;&nbsp;&nbsp; 商家保证提供给甲方销售的商品均为正牌商品，不存在假冒，没有侵犯他人专利权、著作权或者与著作权有关<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	的权利或他人注册商标专用权或其他在先权利，来源合法、真实，不违反相关法律、法规。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.7&nbsp;&nbsp;&nbsp; 商家提供的所有商品清洁、整齐、包装完好、适宜销售，送货时不得有任何包装破损或潮湿、变色。凡有保质<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	期的商品如果保质期大于六个月的，商家商品送达消费者订单指定收货地时其商品保质期距到期日的时限不得少于保质期规定的一半；如果商品保质期小于六个月，商家商品送达消费者订单指定收货地时则不应少于其保质期的三分之二；商家违反以上规定应承担相应违约责任及甲方因此遭受的损失。<span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.8&nbsp;&nbsp;&nbsp; 货品、吊牌及商品外包装上，不能有任何之前在其他商场或任何渠道销售的标志、价格。如商家未对商品之前的<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	价格标签未作处理或出现价格标签重叠、错粘及其他足以影响甲方商业信誉的任何标志及瑕疵进行处理，导致消费者对甲方售卖的商品存在任何负面性误解，造成甲方商业声誉受损或其他损害的，商家应当为甲方消除影响并承担赔偿责任。如因此造成甲方对第三人承担任何法律责任，甲方承担责任后有权向商家追偿。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	7.9&nbsp;&nbsp;&nbsp; 商家提供的商品不符合本合同任一约定的，则视为不合格货品，因商家提供不合格商品，消费者有权将该货品退<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	回商家，运费由商家承担，造成甲方或消费者任何损害（包括人身和财产损失），商家应当承担赔偿责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>8.&nbsp;&nbsp;&nbsp; </b><b>商品售后服务</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	8.1&nbsp;&nbsp;&nbsp; 商家应根据相关法律规定、本协议约定以及甲方相关政策和承诺规定，负责为消费者提供产品的“修理、更换、<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	退货”等售后服务，并承担因上述售后服务而产生的一切费用（包括但不限于往返运费、退换货费等），保障消费者的消费者权益，保护甲方免予承担因产品售后服务而产生的任何法律责任（包括任何赔偿或处罚）或声誉受损。<span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	8.2&nbsp;&nbsp;&nbsp; 客户服务
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	1)商家应指派专人负责处理客户服务问题，并需要将服务电话及工作邮件向甲方备案。商家的回复内容中应包含对于该问题的解释、明确的处理方案及事件说明，不能出现“正在查询/正在沟通”等无实质解决方案的回复，否则即视为延迟回复，具体以甲方的认定为准。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)客户服务问题包括但不限于：商品咨询、退换货政策、取消订单、物流快递问题等；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)客户服务问题转交方式一般为：电话、邮件、微信、QQ 等。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	4)甲方有权对商家客服回复情况、回复态度等进行监督及检查，并根据甲方发布的《拼趣多商家客服回复规则》对商家进行处理，包括但不限于扣除超时回复违约金以及对消费者进行补偿（补偿金额由商家承担）。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	8.3&nbsp;&nbsp;&nbsp; 若经消费者投诉、品牌方投诉、甲方品控部门调查等途径，发现商家存在下列情形：
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)商家销售假冒伪劣商品；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)商家提供非法服务；
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)其他与上述行为同类性质的行为，导致甲方认为不宜继续销售的情形。
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	存在上述情形的产品简称为“严重问题产品”，甲方可按下述方式处理：对严重问题产品进行即
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	时下架处理，并通知商家提供相关证据，包括但不限于进货凭证、授权销售证明、产品进口证明
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	等，商家应立即提交。若商家不能及时提供或经查投诉属实的，甲方有权采取下列一项或多项措
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	施：(1)&nbsp; 解除本协议；（2）要求商家支付商家通过拼趣多销售的严重问题产品总金额的五倍作为
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	违约金，若商家拒绝支付违约金，则甲方有权以商家账户内的销售额抵扣违约金；（3）若违约
</p>
<p class="MsoNormal" style="margin-left:35.0pt;">
	金不足以覆盖甲方或其他第三方损失，要求商家赔偿损失；
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	8.4&nbsp;&nbsp;&nbsp; 当因商家提供的产品存在瑕疵危及人身财产安全，或因涉及重大安全问题危及甲方名誉受损，或
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	因法律诉讼或经甲方决定召回，甲方有权召回有关产品，商家应按甲方要求完成对召回产品的
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	退、换、维修，并按照甲方的要求对甲方或甲方指定的其他网站就有关产品的召回信息进行公
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	布，并承担由此产生的所有费用。商家还应赔偿甲方及/或消费者由此产生的任何损失。
</p>
<p class="MsoNormal">
	8.5&nbsp;&nbsp;&nbsp; 商家同意遵守甲方规定的商家管理规范及网站相关政策。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>9.&nbsp;&nbsp;&nbsp; </b><b>知识产权</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	9.1&nbsp;&nbsp;&nbsp; 与产品相关的专利、商标、名称、特有标识、装潢、技术秘密等均属于其权利人所有。商家应保
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	证其已按照法律规定或者合同约定获得了销售产品及授权在甲方拼趣多平台上销售产品的权利或
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	许可。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	9.2&nbsp;&nbsp;&nbsp; 商家保证有权授权并许可甲方为在本协议下目的使用相关知识产权，该授权许可是免费的、非独家的。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	9.3&nbsp;&nbsp;&nbsp; 商家知悉并同意，甲方或其关联方拥有、使用、许可、控制的或者甲方或其关联方对之享有其他权利的一切知<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	识产权、工业产权和专有权利，包括全部商标、著作权、名称、标识、标志、微信公众号、域名、艺术作品、人物形象、标志、专利，例如“拼趣多”、“拼趣多商城”、“拼趣多及图”，“拼趣多”app 图标…等，由甲方或其关联方独家拥有并保留。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	9.4&nbsp;&nbsp;&nbsp; 商家同意并保证，其任一级代表、代理、受托人或代表其各自的董事、高级管理人员或职工及其
</p>
<p class="MsoNormal" align="left">
	自身，不得在中国之境内外注册、使用与甲方及其关联方拥有、使用、许可或控制的商标、标识、标志、微信公众号、域名、艺术作品、人物形象等相同或近似的商标，或侵犯甲方或其关联
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	方享有的一切知识产权、工业产权和专有权利，或妨碍甲方或其关联方独自全部拥有或保留前权利。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	9.5&nbsp;&nbsp;&nbsp; 乙方同意并保证，若其注册与甲方及甲方关联方相同或近似的商标、标识、标志、微信公众号、域名等用于开<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	展与甲方及甲方关联方实质相同或近似的业务，则应当在甲方或甲方关联方提出相关要求时，无偿将相关商标、标识、标志、微信公众号、域名转让给甲方或甲方关联方。同时，若乙方的行为侵犯了甲方利益，甲方有权暂停支付乙方在甲方的所有应付账款、解除本协议并终止与乙方的合作。<span></span>
</p>
<p class="MsoNormal">
	9.6&nbsp;&nbsp;&nbsp; 乙方同意并保证其任一级代表、代理、受托人或代表其各自的董事、高级管理人员或职工均遵守
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>10.&nbsp;&nbsp;&nbsp; </b><b>保密条款：</b><b></b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	10.1&nbsp;&nbsp;&nbsp; 本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及在合作过程中涉及的其他秘
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将另行持续三年。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	10.2&nbsp;&nbsp;&nbsp; 因对方书面同意以及国家行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	密已为公众所知悉的，披露方不承担责任。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>11.&nbsp;&nbsp;&nbsp; </b><b>承诺与保证商家特此向甲方作出如下承诺与保证：</b><b></b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	11.1&nbsp;&nbsp; 商家具有履行本协议所需的所有必要资质和授权，其提供的资质和授权证明文件副本真实、有效，且如相关资质<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	资料有变更，商家应及时提供最新资料至甲方；如商家提供虚假，失效文件或提供文件不及时，商家应承担由此产生的法律责任，且甲方有权停止结算直至解除协议。<span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.2&nbsp;&nbsp; 商家提供的产品（1）来源正当合法，均为全新正品；(2)是商家合法且排他拥有的；(3)甲方不会
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	因在网站销售商家产品而导致任何第三方主张侵权或其他妨碍商家销售的行为。商家对上述保证
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	承担完全责任，如因产品不符合上述保证而导致甲方遭受任何索偿、责任追究或损失，均由商家承担。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.3&nbsp;&nbsp; 商家应对其提供的产品的售后和质量负完全责任，并履行本协议规定的义务。<span></span>
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	11.4&nbsp;&nbsp; 商家在甲方上销售的同款商品的销售价格不得高于商家在其他渠道的销售价格；
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.5&nbsp;&nbsp; 商家就产品提供给甲方的产品说明、介绍、图片等信息资料是真实有效并恰当反映产品特性的，
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	不存在虚假、伪造或侵犯第三方权益的内容；此外，商家保证甲方在其平台使用上述信息资料不
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	会侵犯第三方的权益。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.6&nbsp;&nbsp; 商家承诺未隐瞒任何其他信息以致足以影响甲方签订及履行本协议。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.7&nbsp;&nbsp; 商家将按照不低于《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	他法规、部门规章和国家强制性标准规定的要求，出售商品并提供“三包”等售后服务。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.8&nbsp;&nbsp; 商家在甲方拼趣多平台出售商品，有义务按照买家实际支付的现金金额为买家开具适格发票，相
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	关税收应按国家相关规定由商家自行承担。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.9&nbsp;&nbsp; 商家承诺不得抄袭、模仿甲方商业模式从事拼团类业务， <span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	不得以任何方式、向任何第三方泄露/出售甲方平台用户信息，不得采取任何类似手段侵害甲方利益；若商家违反上述承诺，则甲方有权扣除商家保证金、单方解除本协议，终止与商家的合作并追究商家的违约及侵权责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.10&nbsp; 商家不得以任何手段、利用甲方平台规则漏洞或系统漏洞，通过虚假交易、关联交易等方式，套
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	取甲方平台红包、平台补贴；若商家违反上述承诺，则甲方有权从商家保证金以及未结货款中扣
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	除相当于补贴金额十倍的款项作为违约金，同时甲方有权单方解除本协议，终止与商家的合作，
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	商家行为构成犯罪的，甲方有权向公安部门报案并进一步追究商家刑事责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	11.12&nbsp; 商家应按照甲方的规定，妥善保管、使用甲方提供的相关账户（包括但不限于用户名、原始密码信息）及/或商<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	家自行修改的密码，并确保使用其该等账户的主体均为商家或商家授权的人员；除非适用的法律法规另有明确规定或本协议另有明确的约定，商家不得以任何形式泄露，擅自转让、披露或授权他人使用该账户。否则，由此产生的任何争议、纠纷、处罚、诉讼、仲裁、投诉、索赔等均由商家自行负责处理并承担全部法律责任（包括但不限于赔偿由此给顾客、甲方及/或任何他方造成的全部损失），并且甲方有权立即终止商家的账户的权利，及/或立即终止与商家的部分或全部合作。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>12.&nbsp;&nbsp; </b><b>有限责任<span></span></b>
</p>
<p class="MsoNormal">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	12.1&nbsp;&nbsp; 商家了解并同意，甲方及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	商家提交的证据材料进行鉴别，甲方及其关联公司对交易纠纷的调处完全是基于商家的委托，甲
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	方及其关联公司无法保证交易纠纷处理结果符合商家的期望，也不对交易纠纷调处结果及保证金赔付决定承担任何责任。商家应保证其提交的证据材料的真实性、合法性，并承担其或买家提供的信息、数据不实的风险和责任。如商家因此遭受损失，商家同意自行向受益人索赔。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	12.2&nbsp;&nbsp; 甲方对乙方使用甲方平台服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	定，完整和及时性均不作承诺和保证。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	12.3&nbsp;&nbsp; 不论在何种情况下，甲方均不对由于
	Internet 连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳<span></span>
</p>
<p class="MsoNormal" align="left">
	动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。<span></span>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>13.&nbsp;&nbsp; </b><b>期限、解除和终止</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	13.1&nbsp;&nbsp; 本协议的期限为自签署之日起至协议解除之日止，但保密、违约责任及售后服务义务及产品质量
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	保证责任在协议终止/解除后将继续有效。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	13.2&nbsp;&nbsp; 协议的终止：
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)通知解除：协议任何一方均可以提前十五（15）天书面通知的方式终止本协议。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)甲方单方解除权：如商家违反甲方的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，甲方都有权立刻终止本协议，且按有关规则对商家进行违约处理。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)商家在超过九十（90）天的时间内未以甲方服务账户及密码登录甲方的，甲方有权终止本协议。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	4)如非因甲方的原因，商家未能按本协议及附件之规定，按期全额支付有关服务费用和/或活动费用，且在甲方规定的时限内仍未支付，甲方有权部分或全部中止或终止本协议。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	5)本协议规定的其他协议终止条件发生或实现，导致本协议终止。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	13.3&nbsp;&nbsp; 协议终止或解除后后续事项的处理
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	1)自本协议终止或解除之日起，甲方将关闭商家在甲方的账户权限，并对商家产品全部下架，商家将无法再通过该账户进行任何形式的操作且甲方前端
	APP 不再显示任何商家产品信息。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	2)本协议终止或解除后，甲方有权保留商家的注册信息及交易行为记录等数据，但甲方没有
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	为商家保留这些数据的义务，亦不承担在协议终止后向商家或第三方提供任何数据信息的
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	义务，也不就协议终止向商家或任何第三方承担责任，但法律另有规定的除外。
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	3)本协议终止或解除并不免除商家依据本协议应向客户承担的售后服务及产品保证责任，商
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	家仍应履行售后服务义务及产品质量保证责任；如在本协议终止后，因商家产品质量问题
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	或售后服务问题而导致甲方或其他第三方人身或财产损失的，商家仍应独立承担全部责任。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>14.&nbsp;&nbsp; </b><b>违约责任</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.1&nbsp;&nbsp; 协议履行期间，如一方违反本协议及附件中任何约定而致使另一方利益遭受损失，另一方有权在
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	违约行为发生后以书面形式告知违约方要求其赔偿。如因违约方违反本合同致使守约方发生任何费用、支出、责任或损失，违约方应就此对守约方承担责任并进行赔偿，保障守约方不受损害。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.2&nbsp;&nbsp; 商家不得擅自终止本协议或者将本协议项下权利和义务转让给任何第三方，否则，甲方有权解除协议，并有权<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	要求商家就由此给甲方造成的损失承担赔偿责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.3&nbsp;&nbsp; 若因商家提供的产品素材问题、产品问题或因发错货、超卖、退货处理不及时等售后服务问题等原因导致甲方<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	被第三方投诉、起诉的，甲方有权选择与第三方和解、调解或诉讼，商家应承担由此支出的一切费用并承担甲方因此遭受的一切损失；
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.4&nbsp;&nbsp; 因甲方宣传商家产品，引起的第三方维权、投诉、诉讼等，造成的任何损失由商家负责，同时甲方有权扣除商<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	家全部保证金或暂停支付商家销售款项。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.5&nbsp;&nbsp; 因商家原因致使价格或活动设置错误的，则由商家承担一切损失和责任，甲方进行先行赔付的，
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	商家应在三（3）个工作日内赔偿给甲方，否则甲方有权扣除商家全部保证金或暂停支付商家销售款项。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	14.6&nbsp;&nbsp; 甲方有权根据商家任何违约情形（包括但不仅限于商家违反陈述与保证、无故停止经营、商家单
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	方终止协议等）在要求商家承担合同约定责任外扣除部分或全部保证金。甲方扣划保证金后，商
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	家应在接到甲方通知后三日内补齐，否则，甲方有权在商家结算款项中直接扣划。保证金的扣除并不免除甲方要求商家按合同约定承担的违约责任。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	&nbsp;
</p>
<p class="MsoNormal">
	14.7&nbsp;&nbsp; 商家之代理人、受托人、受雇人、股权所有人之一切行为均代表该方，其违反本协议之行为视为
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	商家之行为，商家应对此承担连带法律责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	14.8&nbsp;&nbsp; 商家违反本协议约定而需向甲方支付的任何违约金、赔偿金及其他所有费用，应在甲方通知后五（5）日内一<span></span>
</p>
<p class="MsoNormal" align="left">
	次性支付给甲方，否则，甲方有权在结算款项中直接扣除，并向商家追索不足部分。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.9&nbsp;&nbsp; 由于商家发生上述违约行为导致商家应赔偿甲方损失或支付罚金或双方终止合作，商家仍需继续
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	执行售后服务并对已售出的商品承担一切责任。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	14.10&nbsp; 本协议所称损失，包括但不限于守约方为减少损失、防止损失扩大、固定证据或者追究违约方的相关法律责<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	任所支出的诉讼费用、公证费用、律师费用、差旅费、鉴定费等一切有关费用。<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>15.&nbsp;&nbsp; </b><b>不可抗力</b><b></b>
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal" style="margin-left:31.0pt;">
	由于不可抗力事件导致一方不能及时履行或者不能履行该方在本协议下的任何义务（付款义务除外）
</p>
<p class="MsoNormal" style="margin-left:31.0pt;">
	的，不构成违约。但是受不可抗力事件影响的一方应立即把不可抗力事件的性质和程度通知对方，
</p>
<p class="MsoNormal" style="margin-left:31.0pt;">
	并积极采取相应补救措施，以最大程度地减少和避免损失。<span></span>
</p>
<p class="MsoNormal" align="left">
	<b>&nbsp;</b>
</p>
<p class="MsoNormal">
	<b>16.&nbsp;&nbsp; </b><b>甲方反商业贿赂条款</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.1&nbsp;&nbsp; 双方严格遵守法律法规有关禁止商业贿赂行为规定，坚决拒绝商业贿赂、行贿及其他不正当商业行为的馈赠。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.2&nbsp;&nbsp; 本协议所指的商业贿赂是指商家为获取与甲方的合作及合作的利益，商家或其单位工作人员给予
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	甲方员工的一切精神及物质上直接或间接的馈赠，如现金、回扣、娱乐、旅游等。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.3&nbsp;&nbsp; 甲方的任何员工、部门不得向商家索取或收受金钱、物品及任何形式的馈赠。如商家发现甲方平
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	台员工存在上述行为，商家应及时向甲方平台举报。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.4&nbsp;&nbsp; 商家或商家工作人员不得以商家或个人名义向甲方任何员工及其亲属、关联方私下直接或间接赠送礼金、物<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	品、有价证券、股份或采取其他变相手段提供不正当利益，否则均视为侵害甲方利益的行为。不正当利益包括但不限于现金、支票、信用礼品卡、样品、或其他商品、娱乐票券、会员卡、货币或货物形式的回扣、回佣、就业或置业、商家付款的旅游、宴请及个人服务等。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	16.5&nbsp;&nbsp; 若甲方员工要求商家给予其任何形式的不正当利益，商家应及时投诉。并提供相关证据给甲方，经甲方相关<span></span>
</p>
<p class="MsoNormal" align="left">
	人员查实后作出处理，并为商家保密。甲方设定专用邮箱接受乙方的投诉：tousu@yiran.com，QQ：2880189453
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.6&nbsp;&nbsp; 若商家贿赂甲方任何员工，以图获取任何不正当商业利益或更特殊的商业待遇或不配合甲方查处其员工的受<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	贿行为的，甲方将立即开除涉事员工，永久停止与商家的一切合作，并依法对商家采取诸如冻结所有应付账款的措施，同时商家应向甲方支付人民币伍万元整作为违约金。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	16.7&nbsp;&nbsp; 情节严重、造成重大经济损失的，甲方将依法移交司法机关处理。<span></span>
</p>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>17.&nbsp;&nbsp; </b><b>关联关系条款</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	17.1&nbsp;&nbsp; 甲方有权将具备关联关系的商家账户进行统一管理，形成关联圈。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	17.2&nbsp;&nbsp; 甲方有权对关联圈内的商家账户进行统一管理，包括但不限于统一增加或扣减信誉值，统一扣罚保证金/账<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	户资金，统一终止平台服务，统一终止/中止合作等。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	17.3&nbsp;&nbsp; 若关联圈中的任一账户，因违反相关法律法规、本协议、拼趣多平台规则而遭到消费者投诉或索赔，甲方有<span></span>
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	权无需通知立即暂停该账户的交易权限。经判定消费者投诉或索赔事由成立的，甲方有权依据本协议或拼趣多平台规则对违规的商家进行违约处理，并有权立即直接扣划该账户及其关联圈内其他账户缴纳的保证金、在拼趣多的账户资金或其他款项。商家应赔偿甲方因此遭受的包括赔偿金、诉讼费、律师费在内的一切损失。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	<b>18.&nbsp;&nbsp; </b><b>其他</b><b></b>
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	18.1&nbsp;&nbsp; 条款的独立性
</p>
<p class="MsoNormal" style="margin-left:32.0pt;">
	如果根据适用的法律认定本协议中的任何条款或者任何条款中的任何部分无效、违法或者不具有可执行性，这种无效、违法或者不具有可执行性不影响本协议中的任何其它条款或者这些条款中的任何其它部分的效力。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	18.2&nbsp;&nbsp; 争议解决
</p>
<p class="MsoNormal" align="left">
	对于因本协议而产生的或者与本协议有关的争议，双方均应努力通过友好协商的方式进行解决。
</p>
<p class="MsoNormal" align="left">
	如果自双方开始协商之日起三十日（30）内仍然无法就争议解决达成一致，任何一方均可向甲方
</p>
<p class="MsoNormal" align="left">
	住所地人民法院提起诉讼。
</p>
<p class="MsoNormal" align="left">
	&nbsp;
</p>
<p class="MsoNormal">
	18.3&nbsp;&nbsp; 通知
</p>
<p class="MsoNormal" align="left">
	本协议项下要求或允许给予对方的所有“公示”、“通知”、“公示并通知”、“同意”、“批准”、
</p>
<p class="MsoNormal" align="left">
	“许可”应为书面形式：除本协议另有约定外，甲方做出前述行为的书面方式应为通过在拼趣多公
</p>
<p class="MsoNormal" style="margin-left:32.4pt;">
	示、向商家账户发送电子信息、传真、电子邮件、专人派送、特快专递和/或挂号信，乙方的联系方式以乙方在甲方平台线上填写的信息为准；除本协议另有约定外，乙方做出前述行为的书面方式应为通过商家在甲方平台填写、登记的联系人电话、电子邮箱向甲方指定人员的电子邮箱发送电子信息或向甲方办公地址专人派送、特快专递和/或挂号信。任何一方均可通过前述各自可以采取的方式发出通知来改变其以后所有接收通知的投递地址。除非另有明确规定，通知若以在拼趣多公示形式发出，则送达时间应以拼趣多最早公示之时为准；若以向商家账户或甲方系统发送电子信息形式发出，则送达时间应以电子信息进入商家账户或甲方系统之时为准；若以传真形式发出，则送达时间应以传真传送记录所显示之时间为准；若以电子邮件形式发出，则送达时间应以邮件发出之时为准；若以专人派送、特快专递或挂号信形式发出，则送达时间为发送之日起
	3 个工作日为准。
</p>
<p class="MsoNormal">
	&nbsp;
</p>
</p>
<p>
	<br />
</p>
</body>
</html>