<include file="Public/min-header"/>
		<div style="width:100%;height: auto">
			<div class="text-center">
				<img width="1000px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_01.gif">
			</div>
			<div class="text-center">
				<img width="1000px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_02.gif">
			</div>
			<div class="text-center">
				<img width="1000px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_03.gif">
			</div>
			<div class="text-center">
				<img width="1000px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_04.gif">
			</div>
			<div class="text-center">
				<img width="1000px" src="http://cdn.pinquduo.cn/Public/images/assistant/4_05.gif">
			</div>
			</div>
		</div>

</html>