
<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" >
            <thead>
            <tr>
                <td class="text-center">
                    <a href="javascript:sort('id');">ID</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('goods_name');">商品名称</a>
                </td>
                <!--<td class="text-center">-->
                    <!--<a href="">货号</a>-->
                <!--</td>-->
                <td class="text-center">
                    <a href="javascript:sort('');">分类</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('');">市场价</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('');">团购价</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('on_time');">下单秒杀时间</a>
                </td>
                <!--<td class="text-center">-->
                    <!--<a href="javascript:sort('is_show');">上架</a>-->
                <!--</td>-->
                <!--<td class="text-center">-->
                    <!--<a href="javascript:sort('is_recommend');">推荐</a>-->
                <!--</td>-->
                <!--<td class="text-center">操作</td>-->
            </tr>
            </thead>
            <tbody>
            <volist name="goods" id="list">
                <tr>
                    <!--<td class="text-center">-->
                    <!--<input type="checkbox" name="selected[]" value="6">-->
                    <!--<input type="hidden" name="shipping_code[]" value="flat.flat">-->
                    <!--</td>-->
                    <td class="text-center">{$list.goods_id}</td>
                    <td class="text-lifter">{$list.goods_name}</td>
                    <!--<td class="text-center">{$list.order_amount}</td>-->
                    <!--<td class="text-center">{$order_status[$list[order_status]]}<if condition="$list['is_cod'] eq '1'"><span style="color: red">(货到付款)</span></if></td>-->
                    <!--<td class="text-center">{$pay_status[$list[pay_status]]}</td>-->
                    <!--<td class="text-center">{$shipping_status[$list[shipping_status]]}</td>-->
                    <!--<td class="text-center">{$list.goods_sn}</td>-->
                    <td class="text-center">{$list.cat_name}</td>
                    <td class="text-center">{$list.shop_price}</td>
                    <td class="text-center">{$list.prom_price}</td>
                    <td class="text-center">{$list.on_time|date='Y-m-d H:i',###}</td>
                    <!--<td class="text-center">-->
                        <!--<img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_on_sale] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_on_sale',this)"/>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_recommend] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_recommend',this)"/>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--&lt;!&ndash;<a href="{:U('Admin/Secondskill/detail',array('id'=>$list['goods_id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a>&ndash;&gt;-->
                        <!--<a href="{:U('Store/Goods/addEditSecondsGoods',array('id'=>$list['goods_id']))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="查看详情"><i class="fa fa-pencil"></i></a>-->
                        <!--<if condition="($list['is_show'] eq 1)">-->
                            <!--<a href="javascript:void(0);" onclick="del('{$list[goods_id]}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>-->
                            <!--<else/>-->
                            <!--<a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-default disabled" data-original-title="查看"><i class="fa fa-trash-o"></i></a>-->
                        <!--</if>-->
                    <!--</td>-->
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>