<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>		
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i>商户交纳信息</h3>
                    </div>
                    <div class="panel-body">
                    <!--表单数据-->
                    <form method="post" id="return_form" action="{:U('Admin/store/EditOpenedinfo')}">
                        <!--通用信息-->
                    <div class="tab-content col-md-10 text-center">
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered " >
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">保证金额：</td>
                                    <td class="col-sm-8">
                                        <input style="width: 350px" type="text" class="form-control" name="margin" value="{$store.margin}">
                                    </td>
                                </tr>  
                                <tr>
                                    <td>支付账号：
                                    <br><span>有的就填上</span>
                                    </td>
                                    <td>
                                        <input style="width: 350px" type="text" class="form-control" name="buyer_email" value="{$store.buyer_email}">
                                    </td>
                                </tr>  
                                <tr>
                                    <td>支付宝流水号：</td>
                                    <td>
                                        <input style="width: 350px" type="text" class="form-control" name="trade_no" value="{$store.trade_no}">
                                    </td>
                                </tr>                                  
                                <tr>
                                    <td>支付时间：
                                    <br><span>格式：2017-XX-XX XX:XX</span>
                                    </td>

                                    <td >
                                        <input style="width: 350px" type="text" class="form-control" name="notify_time" value="{$store.notify_time}">
                                    </td>
                                </tr>

                                </tbody> 
                                <tfoot>
                                	<tr>
                                        <td><input type="hidden" name="id" value="{$store.storeid}"></td>
                                        <td class="text-left">
                                            <!--<if condition="$return_goods['ok_time'] eq 0">-->
                                                <input class="btn btn-primary" type="submit"  value="保存">
                                            <!--</if>-->
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
function check_baseinfo(){
     var    margin = $("[name='margin']").val(),
            buyer_email = $("[name='buyer_email']").val(),
            trade_no = $("[name='trade_no']").val(),
            notify_time = $("[name='notify_time']").val()

    var is_true = true;
    var msg = "";

    if(!margin){
        msg += "请输入门店名称<br>";
        is_true = false;
    }
    if(!buyer_email){
        msg += "请输入门店名称<br>";
        is_true = false;
    }
    if(!trade_no){
        msg += "请输入门店名称<br>";
        is_true = false;
    }
    if(!notify_time){
        msg += "请输入门店名称<br>";
        is_true = false;
    }
    if(is_true == false){
        layer.alert(msg);
        return false;
    }
}
</script>
</body>
</html>