/*css reset*/
body{font-family:微软雅黑,Arial, Helvetica, sans-seri;font-size:12px;line-height:1.3;text-align:center;-webkit-text-size-adjust:100%;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;border: none;}
td{border-spacing:0;}
fieldset,img {border: none;}
address,caption,cite,code,dfn,em,strong,th,i,var {font-weight: normal;font-style: normal;}
ol,ul,li{list-style: none;}
a{text-decoration:none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border:none;}
*html, .clearfix {zoom:1;} 
strong{font-weight:bold;}
/*reset end*/

*{font-family:微软雅黑,Arial, Helvetica, sans-seri;}


.clearfix:after{clear:both;height:0;font-size:0;display:block;content:"";visibility:hidden;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}