<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-center">
                </td>                
                <td class="text-right">
                    <a href="javascript:sort('goods_id');">ID</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('goods_name');">商品名称</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('goods_label');">商户名称</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('cat_id');">分类</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('shop_price');">团购价格</a>
                </td>
                <td class="text-left">
                    <a href="javascript:void(0);">库存</a>
                </td>
                <if condition="$is_check eq 'true'">
                    <td class="text-center">
                        <a href="javascript:sort('is_show');">是否显示</a>
                    </td>
                </if>
                <if condition="$is_check eq 'true'">
                <td class="text-center">
                    <a href="javascript:sort('is_on_sale');">上架</a>
                </td>
                    </if>
                <if condition="$is_check eq 'false'">
                <td class="text-center">
                    <a href="javascript:sort('is_audit');">审核状态</a>
                </td>
                    </if>
                <if condition="$is_check eq 'true'">
                    <td class="text-center">
                     <a href="javascript:sort('is_recommend');">推荐</a>
                    </td>
                </if>
                    <td class="text-center">
                    <a href="javascript:sort('sort');">排序</a>
                    </td>

                    <td class="text-center">操作</td>
                <if condition="$is_check eq 'false'">
                    <td class="text-center">驳回</td>
                </if>
            </tr>
            </thead>
            <tbody>
            <volist name="goodsList" id="list">
                <tr>
                    <td class="text-center">
                       <!-- <input type="checkbox" name="selected[]" value="6">-->
                        <input type="hidden" name="shipping_code[]" value="flat.flat">
                    </td>
                    <td class="text-right">{$list.goods_id}</td>
                    <td class="text-left">{$list.goods_name|getSubstr=0,33}</td>
                    <td class="text-left">{$list.store_name}
                    <if condition="$list.is_special eq 1">
                        <span>（海淘店）</span>
                    </if>
                    </td>
                    <!--<td class="text-left">{$list.goods_sn}</td>-->
                    <if condition="$list.is_special eq 1">
                        <td class="text-center">{$catList[$list[haitao_cat]][name]}</td>
                    </if>
                    <if condition="$list.is_special neq 1">
                        <td class="text-center">{$catList1[$list[cat_id]][name]}</td>
                    </if>
                    <td class="text-left">{$list.prom_price}</td>
                    <td class="text-left">
                    <input type="text" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"  onchange="ajaxUpdateField(this);" name="store_count" size="4" data-table="goods" data-id="{$list.goods_id}" value="{$list.store_count}"/>
                    </td>
                    <if condition="$is_check eq 'true'">
                        <td class="text-center">
                            <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_show] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_show',this)"/>
                        </td>
                    </if>
                    <if condition="$is_check eq 'true'">
                    <td class="text-center">
                        <if condition="$list.state eq 1">
                        <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_on_sale] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_on_sale',this)"/>
                        </if>
                    </td>
                        </if>
                    <if condition="$is_check eq 'false'">
                    <td class="text-center">
                        <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_audit] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_audit',this)"/>
                    </td>
                        </if>
                    <if condition="$is_check eq 'true'">
                        <td class="text-center">
                            <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_recommend] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_recommend',this)"/>
                        </td>
                    </if>
                        <td class="text-center">
                            <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="updateSort('goods','goods_id','{$list.goods_id}','sort',this)" size="4" value="{$list.sort}" />
                        </td>
                        <td class="text-center">
                            <if condition="$list['is_special'] eq 1">
                                <a href="{:U('Admin/Haitao/addEditGoods',array('id'=>$list['goods_id'],'haitao'=>1))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                            </if>
                            <if condition="$list['is_special'] neq 1">
                                <a href="{:U('Admin/Goods/addEditGoods',array('id'=>$list['goods_id']))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                            </if>
                            <if condition="$is_check eq 'false'">
                            <a href="javascript:void(0);" onclick="del('{$list[goods_id]}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                            </if>
                            <if condition="$is_check eq 'true'">
                                <a href="javascript:void(0);" onclick="deleteSet('{$list[goods_id]}')" id="button-delete8" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                            </if>
                        </td>
                    <if condition="$is_check eq 'false'">
                    <td class="text-center">
                            <a href="javascript:void(0);" onclick="no_audit('{$list[goods_id]}')"  id="button-delete7" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa ">驳</i></a>
                    </td>
                    </if>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });

    // 删除操作
    function deleteSet(id)
    {
        if(!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            url:"/Admin/goods/dels?id="+id,
            success: function(v){
                var v =  eval('('+v+')');
                if(v.hasOwnProperty('status') && (v.status == 1))
                    ajax_get_table('search-form2',cur_page);
                else
                    layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
            }
        });
        return false;
    }
</script>