<include file="Public/min-header"/>
<link href="__PUBLIC__/css/Label.css" rel="stylesheet" type="text/css"/>
<div class="wrapper">
    <!-- Content Header (Page header) -->
   <include file="Public/breadcrumb"/>
    <section class="content">
    <!-- Main content -->
    <!--<div class="container-fluid">-->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> 用户信息</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" onsubmit="return checkUserUpdate(this);">
                    <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>会员昵称:</td>
                        <td><input type="text" class="form-control" name="nickname" value="{$user.nickname}"></td>
                    </tr>
                    <tr>
                        <td>消费积分:</td>
                        <td>{$user.pay_points}</td>
                    </tr>

                    <tr>
                        <td>邮件地址:</td>
                        <td><input type="text" class="form-control" name="email" value="{$user.email}"></td>
                    </tr>
                    <tr>
                        <td>新密码:</td>
                        <td><input type="password" class="form-control" name="password"></td>
                    </tr>
                    <tr>
                        <td>确认密码:</td>
                        <td><input type="password" class="form-control" name="password2"></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>会员等级:</td>-->
                        <!--<td>{$user.user_rank}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>性别:</td>
                        <td id="order-status">
                            <input name="sex" type="radio" value="0" <if condition="$user['sex'] eq 0">checked</if> >保密
                            <input name="sex" type="radio" value="1" <if condition="$user['sex'] eq 1">checked</if> >男
                            <input name="sex" type="radio" value="2" <if condition="$user['sex'] eq 2">checked</if> >女

                        </td>
                    </tr>
                    <tr>
                        <td>QQ:</td>
                        <td>
                            <input class="form-control" type="text" name="qq" value="{$user.qq}">
                        </td>
                    </tr>
                    <tr>
                        <td>手机:</td>
                        <td>
                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                        </td>
                    </tr>
                    <tr>
                        <td>注册时间:</td>
                        <td>
                            {$user.reg_time|date='Y-m-d H:i',###}
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <div>
                        <a>会员标签</a><hr>
                        <div>
                            <div class="label">
                                <div class="plus-tag-add">
                                    <a style="align-content: center;font-size: 20px">已选标签</a><br><br>
                                    <hr>
                                </div>
                                <div class="plus-tag tagbtn3 clearfix" id="myTags">
                                    <volist name="labelNam" id="label" >
                                        <a value="-1" title="{$label.name}" href="javascript:void(0);" ><span><input hidden="hidden"  name="label_id[]" value="{$label.id}" > {$label.name}</span><em></em></a>
                                    </volist>

                                </div>
                                <hr>
                                <div class="plus-tag-add">
                                    <a style="align-content: center;font-size: 20px">标签栏</a><br><br>
                                </div>
                                <!--plus-tag-add end-->
                                <div id="mycard-plus" style="margin-left: 50px">
                                    <div class="default-tag tagbtn">
                                        <foreach name="labels" item="vo" key="k" >
                                            <div class="clearfix" >
                                                <a id="{$vo.id}" value="-1" title="{$vo.name}" href="javascript:void(0);" class="Selected"><span>{$vo.name}</span><em></em></a><br><br><br>
                                                <div style="margin-left: 30px; "class="tagbtn2" >
                                                    <foreach name="vo.children"  item="co" key="k" >
                                                        <a id="{$co.id}" value="-1" title="{$co.name}" href="javascript:void(0);" class="Selected"><span>{$co.name}</span><em></em></a>
                                                    </foreach>
                                                </div>
                                            </div>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i> 保存
                        </button>
                        <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a>
                    </div>
                </form>

            </div>
        </div>
 	  </div> 
    </div>    <!-- /.content -->
   </section>
</div>
<script>
    function checkUserUpdate(){
        var email = $('input[name="email"]').val();
        var mobile = $('input[name="mobile"]').val();
        var password = $('input[name="password"]').val();
        var password2 = $('input[name="password2"]').val();

        var error ='';
        if(password != password2){
            error += "两次密码不一样\n";
        }

        if(!checkEmail(email)){
            error += "邮箱地址有误\n";
        }
        if(!checkMobile(mobile)){
            error += "手机号码填写有误\n";
        }
        if(error){
            layer.alert(error, {icon: 2});  //alert(error);
            return false;
        }
        return true;

    }
</script>
<script type="text/javascript" src="http://www.jsdaima.com/Public/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    var FancyForm=function(){
        return{
            inputs:".FancyForm input, .FancyForm textarea",
            setup:function(){
                var a=this;
                this.inputs=$(this.inputs);
                a.inputs.each(function(){
                    var c=$(this);
                    a.checkVal(c)
                });
                a.inputs.live("keyup blur",function(){
                    var c=$(this);
                    a.checkVal(c);
                });
            },checkVal:function(a){
                a.val().length>0?a.parent("li").addClass("val"):a.parent("li").removeClass("val")
            }
        }
    }();
</script>

<script type="text/javascript">
    $(document).ready(function() {
        FancyForm.setup();
    });
</script>
<script type="text/javascript">
    var searchAjax=function(){};
    var G_tocard_maxTips=30;

    $(function(){(
            function(){
                var a=$(".plus-tag");
                $("a em",a).live("click",function(){
                    var c=$(this).parents("a"),b=c.attr("title"),d=c.attr("value");
                    delTips(b,d)
                });
                hasTips=function(b){
                    var d=$("a",a),c=false;
                    d.each(function(){
                        if($(this).attr("title")==b){
                            c=true;
                            return false
                        }
                    });
                    return c
                };

                isMaxTips=function(){
                    return
                    $("a",a).length>=G_tocard_maxTips
                };

                setTips=function(c,d){
                    if(hasTips(c)){
                        return false
                    }if(isMaxTips()){
                        alert("最多添加"+G_tocard_maxTips+"个标签！");
                        return false
                    }
                    var b=d?'value="'+d+'"':"";
                    a.append($("<a "+b+' title="'+c+'" href="javascript:void(0);" >'+"<input type='hidden' name='label_id[]' value='"+d+"'>"+'<span>'+c+"</span><em></em></a>"));/*这是给点击后的标签的样式*/
                    searchAjax(c,d,true);
                    return true
                };

                delTips=function(b,c){
                    if(!hasTips(b)){
                        return false
                    }
                    $("a",a).each(function(){
                        var d=$(this);
                        if(d.attr("title")==b){
                            d.remove();
                            return false
                        }
                    });
                    searchAjax(b,c,false);
                    return true
                };

                getTips=function(){
                    var b=[];
                    $("a",a).each(function(){
                        b.push($(this).attr("title"))
                    });
                    return b
                };

                getTipsId=function(){
                    var b=[];
                    $("a",a).each(function(){
                        b.push($(this).attr("value"))
                    });
                    return b
                };

                getTipsIdAndTag=function(){
                    var b=[];
                    $("a",a).each(function(){
                        b.push($(this).attr("value")+"##"+$(this).attr("title"))
                    });
                    return b
                }
            }

    )()});
</script>
<script type="text/javascript">
    // 更新选中标签标签
    $(function(){
        setSelectTips();
        $('.plus-tag').append($('.plus-tag a'));
    });
    var searchAjax = function(name, id, isAdd){
        setSelectTips();
    };
    // 搜索
    (function(){
        var $b = $('.plus-tag-add button'),$i = $('.plus-tag-add input');
        $i.keyup(function(e){
            if(e.keyCode == 13){
                $b.click();
            }
        });
        $b.click(function(){
            var name = $i.val().toLowerCase();
            if(name != '') setTips(name,-1);
            $i.val('');
            $i.select();
        });
    })();
    // 推荐标签
    (function(){

        $('.default-tag a').live('click', function(){
            var $this = $(this),
                    name = $this.attr('title'),/* 选中后显示的值 */
                    id = $this.attr('id');
            setTips(name, id);
        })  ;
        // 更新高亮显示
        setSelectTips = function(){
            var arrName = getTips();
            if(arrName.length){
                $('#myTags').show();
            }else{
                $('#myTags').hide();
            }
            $('.default-tag a').removeClass('selected');
            $.each(arrName, function(index,name){
                $('.default-tag a').each(function(){
                    var $this = $(this);
                    if($this.attr('title') == name){
                        $this.addClass('selected');
                        return false;
                    }
                })
            });
        }

    })();
</script>
</body>
</html>