<include file="Public/min-header"/>
<!--公共js 代码 --><script src="__PUBLIC__/js/common.js" charset="utf-8" type="text/javascript"></script><!--公共js end代码 -->
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">增加时间段</h3>
					</div>
					<!-- /.box-header -->
					<form action="{:U('Secondskill/addSeconds_kill')}" method="post" class="form-horizontal" id="category_form">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">时间:</label>
								<div class="col-sm-6">
									<input style="width: 250px" type="text" placeholder="只需要填写小时就好" class="form-control large" name="time" value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">是否使用</label>

							<div class="col-sm-10">
								<label>
									<if condition="($goods_category_info[is_show] eq 1) or ($goods_category_info[is_show] eq NULL)">
										<input checked="checked" type="radio" name="is_show" value="1"> 是
										<input type="radio" name="is_show" value="0"> 否
										<else/>
										<input type="radio" name="is_show" value="1"> 是
										<input checked="checked" type="radio" name="is_show" value="0"> 否
									</if>
								</label>
							</div>
						</div>
						<!--<div class="form-group">-->

								<!--<div class="form-group">-->
									<!--<label class="control-label col-sm-2">专场展示图片:</label>-->
									<!--<div class="col-sm-10">-->
										<!--<input onclick="GetUploadify(1,'image','Jiujiu');" type="button" value="上传图片"/>-->
										<!--<input type="text" value="{$goods_category_info.image}" name="image" id="image"/>-->
									<!--</div>-->
								<!--</div>-->
						<!--</div>-->
						<div class="box-footer">
							<!--<input type="hidden" name="id" value="{$goods_category_info.id}">-->
							<button type="reset" class="btn btn-primary pull-left"><i class="icon-ok"></i>重填  </button>
							<button type="button" onclick="ajax_submit_form('category_form','{:U('Secondskill/addSeconds_kill?is_ajax=1')}');" class="btn btn-primary pull-right"><i class="icon-ok"></i>提交  </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
<script>

	/** 以下是编辑时默认选中某个商品分类*/
	$(document).ready(function(){
		<if condition="$level_cat['2'] gt 0">
			// 如果当前是二级分类就让一级父id默认选中
			$("#parent_id_1").val('{$level_cat[1]}');
			get_category('{$level_cat[1]}','parent_id_2','0');
		</if>
		<if condition="$level_cat['3'] gt 0">
					// 如果当前是三级分类就一级和二级父id默认 都选中
				$("#parent_id_1").val('{$level_cat[1]}');
		get_category('{$level_cat[1]}','parent_id_2','{$level_cat[2]}');
		</if>
		});

</script>

</body>
</html>